<div class="container">
  <div class="col-sm-6">
    <img src="images/graph.png" alt="">
  </div>
  <div class="col-sm-6">
    <h1>Entre em contato com a gente!</h1>
    <p>Deixe seu nome e e-mail se está interessado em saber mais:</p>
    <form class="subscription-form" action="/subscribe" method="post">
      <label for="name">Nome</label>
      <input type="text" name="name" placeholder="Nome">
      <label for="email">E-mail</label>
      <input type="email" name="email" placeholder="E-mail">
      <label for="zipCode">CEP</label>
      <input type="text" pattern="[0-9]{8}" name="zipCode" placeholder="CEP">
      <input type="submit" name="submit" value="Enviar">
    </form>
    <p>Nós responderemos o mais breve possível!</p>
  </div>
</div>
