<div class="row">
  <div class="col-sm-6">
    <img src="images/services.png" alt="">
  </div>
  <div class="col-sm-6">
    <h1>Bem-vindo</h1>
    <p> Olá! É um prazer para nós ter você aqui conferindo os nossos serviços.</p>
    <p> Se quer ver o catálogo completo de nossos serviços, click <a href="/services.html">aqui</a> e confira!</p>
    <p> Quando ver um serviço que gostar, <a href="/contact.html">contate-nos para saber mais! </a> Você ficará muito satisfeito!</p>
  </div>
</div>
