@import url("https://fonts.googleapis.com/css?family=Baloo+Bhaina");

body {
  background-color: #EEEEEE;
  padding-top: 56px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #625a56;
}

#title {
  font-weight: bold;
  text-transform: uppercase;
}

nav {
  background-color: #06113C;
}

main {
  margin-top: 20px;
  margin-bottom: 20px;
}

img {
  width: 100%;
}

a {
  color: #333;
  text-decoration: none;
}

.button {
  background-color: #FF8C32;
  padding: 0.3vw 3vw;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  color: #fff;
  margin-bottom: 2px;
}

.button:hover {
  background-color: rgba(255, 140, 50, 0.4);
  color: #FF8C32;
  text-decoration: none;
}

/* .subscriber {
  padding: 10px 0px;
  border-bottom: 1px solid lightgray;
}

.subscriber p {
  margin: 0;
}

.list-container {
  padding: 0 20px;
  border: 3px solid #ffb568;
  border-radius: 1px;
}

.item-label {
  font-weight: 600;
  font-style: italic;
  margin-right: 5px;
} */

/* .subscription-form input {
  display: block;
  margin: 5px;
} */

.data-form {
  max-width: 600px;
  margin: 0 auto;
}

.hidden-text {
  -webkit-text-security: disc;
}

.logged-text {
  color: #fff;
}

.logged-text a {
  color: rgba(255,255,255,.5);
}
