<a id="modal-link" class="nav-link" href="#" data-toggle="modal" data-target="#myModal">Principais Serviços</a>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Principais Serviços</h4>
            </div>
            <div class="modal-body">
    
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
